@page
@model CYBERQUIZ.UI.Pages.QuizPages.QuizHomeModel
@{
}

<h2>QuizHome</h2>
@{
    ViewData["Title"] = "Quiz";
}

@foreach (var category in Model.Categories)
{
    <div>
        <h3>@category.Name</h3>
        @foreach (var sub in category.SubCategories)
        {
            <div>
                @if (sub.IsUnlocked)
                {
                    <a asp-page="/QuizPages/QuestionPages/@sub.Name" asp-route-SubCategoryId="@sub.Id">@sub.Name (@sub.QuestionCount frågor)</a>
                }
                else
                {
                    <span>@sub.Name (@sub.QuestionCount frågor)</span>
                }
            </div>
        }

    </div>
}